__pycache__
.idea
*.asv
*.err
*.gz
*.log
*.mat
other/**/*.nc
*options.m
*.out
other/map_with_SHPoverlay_v2/**/*.png
*.pptx
*.Rhistory
*.swp
*.zip
*outputs*/
archive/
climate
climate/
crop/
do_postprocess.sh
fits*
isit_ok2lump_crops/
LUts*.sh
plum
plum_harmonization
